*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Media Query */
@media only screen and (max-width: 768px) {
    .nav ul{
        display: none;
    }

    .mobile-menu {
        display: flex;
        position: absolute;
        right: 35px;
    } 
    
} 
@media only screen and (min-width: 768px) {
   

    .mobile-menu {
        display: none;
    } 
    
} 
    


header{
    display: flex;
    background-color: #6E2CF3;
    font-family: 'Lato', sans-serif;
    padding: 3px;
    align-items: center;
    border-bottom: 2px solid white ;
    /* position: absolute;
    top: 0px -1; */
    }

header img{
    width: 60%;
    border: 2px solid greenyellow;

}

/* header nav ul{
    background-color: ;
} */

header nav ul a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px ;
    border-radius: 8px;
    font-weight: bold;
    text-shadow: red; 
    border: 3.5px solid blue;
}

header nav ul a:hover{
    color: #F8F4FE;
    margin: 3px;
    
}

.hamburguesa {
    width: 2rem;
    position: absolute;
    right: 10px;
}

.nav {
    margin:10px;
}

#plantita{
    width: 45% ;
    margin:10px;
}

.fotito {
    width: 40%;
    
}

.contactanos {
    margin: 5px;
    width: 2em;
}

main{
    background-color: forestgreen ;
    font-size:em;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-color: black;
}
span {
    font-size: 2em;
    }


footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aquamarine;
    padding: 5px;
    align-items:  center;
}



footer ul{
    margin: 5px;
    display: flex;
    
    align-items:flex-start;
    list-style-type: none;
    

}

.social{
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.social p{
    
    text-align: left;
    ;
}

.newsletter{
    display: flex;
    
    
}