
.header{
    display: flex;
    background-color: #6E2CF3;
    font-family: 'Lato', sans-serif;
    justify-items: left;
    border-color:wheat;
    border-bottom: #fafafa;
    
}
header img{
    width: 60%;
}



header nav ul a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px ;
    border-radius: 8px;
    font-weight: bold;
     ;
    
}

header nav ul a:hover{
    color: #F8F4FE;
    margin: 3px;
    
}

.nav {
    margin:10px;
}

#plantita{
    width: 45% ;
    margin:10px;
}

.fotito {
    width: 40%;
    
}

.contactanos {
    margin: 5px;
    width: 2em;
}

body{
    background-color: forestgreen ;
    color: aliceblue;
    font-size:em;
    font-family: 'Roboto', sans-serif;
    margin:10px;
}

span {
    font-size: 2em;
    }

#logotw {
    width: 3%;
}

footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}